{% extends 'layoutlogin.html' %}
{% block inicial %}
<title>Recuperar Contraseña | CUK</title>
{% endblock %}


{% block content %}

<div class="align-self-center w-100 px-lg-5 py-lg-4 p-4 my-5">
  <form class="login-form" method="POST">
    <h1 class="font-weight-bold mb-4">Recuperación de Contraseña</h1>
    <form class="mb-5">
      {% if ussername != None %}
      <div class="mb-4">

        <label for="username" class="form-label font-weight-bold">Usuario</label>
        <label class="form-control bg-dark-x border-0" id="usuario">{{ussername.usuario}}</label>
      </div>

      <div class="mb-4">
        <label for="username" class="form-label font-weight-bold">Contraseña</label>
        <label class="form-control bg-dark-x border-0" id="usuario">{{ussername.contrasena}}</label>
        <a href="login" class="btn btn-primary w-100 my-4">Regresar</a>

      </div>
      {% else %}
      <div class="mb-4">
        <label for="username" class="form-label font-weight-bold">Usuario no Existente</label>

        <a href="login" class="btn btn-primary w-100 my-4">Regresar</a>

      </div>
      {% endif %}
    </form>
  </form>


</div>


</div>
</div>
</section>
{% endblock %}