{% extends 'layout.html' %}
{% block inicial %}
<title>CUK - Receta</title>
{% endblock %}
{% block content %}



<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12  my-4 ml-0">
        <div class="card rounded-0">

          <div class="card-header bg-light">
            <h6 class="font-weight-bold mb-0">Posts</h6>
          </div>
          <div class="card-body">
            <div class="content w-5">
              {% for receta in recetas %}
              <section class="con" id="resultado">
                <figure class="cone">
                  <a href="receta/{{receta.id}}"><img src="{{receta.imagen}}"></a>
                  <figcaption>
                    <h5>{{receta.titulo}}</h5>
                  </figcaption>
                  <p fontsize="5">{{receta.resumen}}</p>
                </figure>
              </section>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% if usuario != None %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12  my-4 ml-0">
        <div class="card rounded-0">
          <div class="card-header bg-light">
            <h6 class="font-weight-bold mb-0">Postear</h6>
          </div>
          <div class="card-body">
            <div class="content w-5">
              <section class="nobody ">
                <input class="form-control bg-primary border-0" id="autor" type="text" placeholder="Autor de la Receta">
              </section>
              <section class="nobody ">
                <input class="form-control bg-primary border-0" id="titulo" type="text"
                  placeholder="Titulo de la receta">
              </section>
              <section class="nobody">
                <textarea class="form-control bg-primary border-0" id="resumen" type="text"
                  placeholder="Resumen"></textarea>
              </section>
              <section class="nobody">
                <textarea class="form-control bg-primary border-0" id="ingredientes" type="text"
                  placeholder="Ingredientes"></textarea>
              </section>
              <section class="nobody">
                <textarea class="form-control bg-primary border-0" id="procedimiento" type="text"
                  placeholder="procedimiento"></textarea>
              </section>
              <section class="nobody">
                <input class="form-control bg-primary border-0" id="tiempo" type="text" placeholder="Tiempo">
              </section>
              <section class="nobody">
                <input class="form-control bg-primary border-0" id="imagen" type="text" placeholder="URL imagen">
              </section>
              <section class="nobotton">
                <button class="botones" onclick="subirReceta()">¡Crear!</button>
                <input type="file" id="fileChooser" style="display: none;" />
                <button class="botones" onclick="cargarArchivo(fileChooser)">Cargar
                  archivo</button>

              </section>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}


</section>

</div>
</div>
</div>

{% endblock %}
{% block fine %}

<!-- Recetas -->
<script>

  function subirReceta() {

    let autor = document.getElementById('autor').value;
    let titulo = document.getElementById('titulo').value;
    let resumen = document.getElementById('resumen').value;
    let ingredientes = document.getElementById('ingredientes').value;
    let procedimiento = document.getElementById('procedimiento').value;
    let tiempo = document.getElementById('tiempo').value;
    let imagen = document.getElementById('imagen').value;

    if (autor === "" && titulo === "" && resumen === "" && ingredientes === "" && procedimiento === "" && tiempo === "" && imagen === "") {
      alert("Error: Todos los campos son requeridos.");
    } else {

      let datos = {
        autor: autor,
        titulo: titulo,
        resumen: resumen,
        ingredientes: ingredientes,
        procedimiento: procedimiento,
        tiempo: tiempo,
        imagen: imagen
      }

      let opciones = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
      }

      fetch('/receta/postReceta', opciones).then((res) => {
        res.json().then((data) => {
          location.reload();
        });
      });
    }
  }

  var fileChooser = document.getElementById('fileChooser');
  if (fileChooser)
    fileChooser.addEventListener("change", subirArchivo)

  function subirArchivo() {
    let reader = new FileReader();

    reader.onload = function () {
      let datos = {
        data: reader.result.replace('data:', '')
          .replace(/^.+,/, '')
      }
      fetch('/receta/cargarArchivo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
      }).then(res => {
        location.reload();
      });
    }

    reader.onerror = function (error) {
      console.log('Error: ', error);
    };

    reader.readAsDataURL(fileChooser.files[0]);
  }

  function cargarArchivo(input) {
    input.click();
  }

</script>


{% endblock %}