<!doctype html>
<html lang="es">

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>

<body>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  my-4 ml-0">
                    <div class="card rounded-0">
                        <div class="card-header bg-light">
                            <h2 class="font-weight-bold mb-0">Tabla Usuarios</h2>
                        </div>
                        <div class="card-body">
                            <div class="content w-5">
                                <section id="about" class="about">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellido</th>
                                                <th scope="col">Edad</th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Contraseña</th>
                                            </tr>
                                        </thead>
                                        {% for usuario in usuarios %}
                                        <thead>
                                            <tr>
                                                <th>{{usuario.id}}</th>
                                                <th>{{usuario.nombre}}</th>
                                                <th>{{usuario.apellido}}</th>
                                                <th>{{usuario.edad}}</th>
                                                <th>{{usuario.usuario}}</th>
                                                <th>{{usuario.contrasena}}</th>
                                            </tr>
                                        </thead>
                                        {% endfor %}
                                    </table>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  my-4 ml-0">
                    <div class="card rounded-0">
                        <div class="card-header bg-light">
                            <h2 class="font-weight-bold mb-0">Tabla Recetas</h2>
                        </div>
                        <div class="card-body">
                            <div class="content w-5">
                                <section id="about" class="about">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Autor</th>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Resumen</th>
                                                <th scope="col">Ingredientes</th>
                                                <th scope="col">Procedimieto</th>
                                                <th scope="col">Tiempo</th>
                                                <th scope="col">Imagen</th>
                                            </tr>
                                        </thead>
                                        {% for receta in recetas %}
                                        <thead>
                                            <tr>
                                                <th>{{receta.id}}</th>
                                                <th>{{receta.autor}}</th>
                                                <th>{{receta.titulo}}</th>
                                                <th>{{receta.resumen}}</th>
                                                <th>{{receta.ingredientes}}</th>
                                                <th>{{receta.procedimiento}}</th>
                                                <th>{{receta.tiempo}}</th>
                                                <th>{{receta.imagen}}</th>
                                            </tr>
                                        </thead>
                                        {% endfor %}
                                    </table>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  my-4 ml-0">
                    <div class="card rounded-0">
                        <div class="card-header bg-light">
                            <h2 class="font-weight-bold mb-0">Tabla Comentarios</h2>
                        </div>
                        <div class="card-body">
                            <div class="content w-5">
                                <section id="about" class="about">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">ID_Receta</th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Receta</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Descripcion</th>
                                            </tr>
                                        </thead>
                                        {% for comentario in comentarios %}
                                        <thead>
                                            <tr>
                                                <th>{{comentario.id}}</th>
                                                <th>{{comentario.id_recet}}</th>
                                                <th>{{comentario.us_name}}</th>
                                                <th>{{comentario.re_name}}</th>
                                                <th>{{comentario.fech}}</th>
                                                <th>{{comentario.description}}</th>
                                            </tr>
                                        </thead>
                                        {% endfor %}
                                    </table>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>